<div class="partial-view">
	<div class="partial-header clear-fix">
		<div class="title pull-left">
			<h4>Description</h4>
		</div>
		<div class="add pull-right">
			Edit
		</div>
	</div>

	<div class="contents">
		<%= specimen.escape('description') %>
	</div>
</div>