<label for="specimen-title">Title</label>
<input type="text" id="specimen-title"></input>
<label for="specimen_date">Date of sighting:</label>
<input type="date" id="seendate"></input>
<label for="specimen-description">Description:</label>
<textarea id="specimen-description"></textarea>

<div id="manual-fine-uploader"></div>