<label for="specimen_title">Title</label>
<input type="text" class="title" id="specimen_title"></input>
<label for="specimen_date">Date of sighting:</label>
<input type="date"></input>
<label for="specimen_description">Description:</label>
<textarea class="description" id="specimen_description"></textarea>

<div id="manual-fine-uploader"></div>