<div class="new-specimen">
	<div class="details pull-left">
		<label for="specimen_title">Title</label>
		<input type="text" id="specimen_title"></input>
		<label for="specimen_date">Date of sighting:</label>
		<input type="date" id="seendate"></input>
		<label for="specimen_description">Description:</label>
		<textarea id="specimen_description"></textarea>
	</div>

	<div class="taxonomy-container pull-left">
		<div class="taxonomy-prompt"
			<p>
				Please enter the taxonomic classification to the best of your knowledge:
			</p>
		</div>
	</div>

	<div id="manual-fine-uploader"></div>

	<div class="map-view pull-left">
		<div class="map-prompt"
			<p>
				Please enter following fields to the best of your knowledge:
			</p>
		</div>
		<div class="map-container">

		</div>
	</div>

	<div class="submit-container">

	</div>
</div>