<label for="major-group">Major Group:</label>

<select id="major-group">
	<option value="">
		Select a major group
	</option>
	<% groupsCollection.each(function(group) { %>
		<option value="<%=group.id%>">
			<%= group.get("name") %>
		</option>
	<% }) %>
</select>

<label for="family-autocomplete">Family: </label>
<input type="text" id="family-autocomplete" class="tax-auto">

<label for="genus-autocomplete">Genus: </label>
<input type="text" id="genus-autocomplete" class="tax-auto">

<label for="species-autocomplete">Species: </label>
<input type="text" id="species-autocomplete" class="tax-auto">