<div class='main'></div>
<div class='map-hider'>
	<div class='map-container'></div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMDjGF4VmGkXHCFPrqAlY3_tmcz_LFJ2o&sensor=false">
</script>
<script type="text/javascript">
	var groupsData = <%= MajorGroup.all.to_json.html_safe %>
	var favoritesData = <%= Favorite.all.to_json(:include=>:specimen).html_safe %>
	$(function() {
		PI.initialize($('.main'), groupsData, favoritesData);
		$(".fancybox").fancybox();
	});
</script>
