<div>
	<div class="tax-form-container"></div>
	<div class="id-comments">
		<label for="id-content">Comments:</label>
		<textarea id='id-content'></textarea>
		<br>
		
		<a class='new-identification'>Submit Identification</a>
	</div>
</div>