.viewer {
	margin-left: 20px;
	display: inline-block;
}

.partial-header {
	border-bottom: 1px dashed black;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.partial-view {
	margin-bottom: 20px;
}
.browser {
	margin: 20px;
}

.map-hider {
 overflow: hidden;
 width: 600px;
 position: relative;
}

.header-pages {
	margin-top: 15px;
	margin-right: 15px;
}

.list-element {
	border-top: 1px dashed black;
	margin: 10px;
	padding: 10px;
}

.main {
	margin: 10px;
}

.element-content {
	margin-left: 15px;
}

.map-container {
	position:absolute;
	margin-left: 20px;
	left: 10000px;
	width: 600px;
	height: 400px;
}

.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

.filter-option {
	margin-bottom: 5px;
}

.filter-menu {
	float: left;

  display:table-cell;
	width: 210px;
}

.map-address {
	margin-top: 10px;
	float: right;
}
input.error {
	border-color: red;
}

.error {
	border-color: red;
}

.search-error {
	margin-top: 10px;
}

.back {
	width: 200px;
}

.submit-specimen {
	width: 205px;
}

.listed-specimen {
	height: 75px;
	margin-bottom: 10px;
}

.shaded {
	background-color: #EDFFE7;
}

.show {
	clear:both;
}


.login-form {
	width: 250px;
}

.login-form label {
	color: black;
}

.nav-tabs {
	width: 100%;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.view-container{
	padding-left: 20px;
	margin-top: 20px;
	overflow: hidden;
	width: auto;
}

.devise-alerts p {
	text-align: center;
}

.main-title {
	height: 60px;
}

.navbar-inner {
  background: #BDEA63;
  border-bottom: 3px dashed #DB7EB3;
}

.login-form h2 {
	color: #81A044;
}
.navbar-inner a {
  text-decoration: none;
}