
<div class="filter-menu">
	<h3>Filter Options</h3>

	<a class="filter-option btn btn-large btn-block btn-inverse" id="taxonomy">filter by taxonomy</a>
	<div class="taxonomy-filter"></div>

	<a class="filter-option btn btn-large btn-block btn-inverse" id="date">filter by date</a>
	<div class="date-filter"></div>

	<a class="filter-option btn btn-large btn-block btn-inverse" id="description">filter by description</a>
	<div class="description-filter"></div>
</div>

<div class="view-container">
	<ul class="nav nav-tabs">
		<li class="active" id="map"><a class="view-type" id="map-view">Map</a></li>
		<li class="" id="list"><a class="view-type" id="list-view">List</a></li>
	</ul>
	<div class="viewer">
	</div>
</div>