<div class="filter-menu">
	<h3>Filter Options</h3>
<div class="btn-group">
	<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
	view by
		<span class="caret"></span>
	</button>

	<ul class="dropdown-menu">

		<li id="map-view">Map</li>
		<li id="list-view">List</li>
	</ul>
</div>

	<br>
	<br>

	<a class="filter-option btn btn-large btn-block btn-inverse" id="taxonomy">filter by taxonomy</a>
	<div class="taxonomy-filter"></div>

	<a class="filter-option btn btn-large btn-block btn-inverse" id="date">filter by date</a>
	<div class="date-filter"></div>

	<a class="filter-option btn btn-large btn-block btn-inverse" id="description">filter by description</a>
	<div class="description-filter"></div>
</div>

<div class="view-container">

</div>