
<label for="specificity">Include:</label>
<select id="specificity">
	<option value="1">Only confirmed</option>
	<option value="2">Only highly rated IDs</option>
	<option value="3">Any specimen</option>
</select>