<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
	view by
	<span class="caret"></span>
</button>

<ul class="dropdown-menu">
	<li id="map-view">Map</li>
	<li id="list-view">List</li>
</ul>=